body {
color: rgb(255,255,255);
background-color: rgb(0, 0, 0);
      line-height: 160%;

}

pre{
text-align:left;
color: black; background-color: rgb(200, 200, 200);
display:inline-block;
}


 p {
  text-align: left;
    }


li{
    text-align: left;
}

.half {
  width: 50%;
}


.textleft{
  text-align: left;
}

.textcenter{
  text-align: center;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
.content {
border-left: 25vw solid black;
    border-right: 25vw solid black;
}
body{
      font-size: 22px;
}

.logo{
    width: 20%;
}


#iconright { height:33px;
         width:33px; 
         margin:0px 14px 0px 0px;}
#iconleft { height:33px;
         width:33px; 
         margin:0px 0px 0px 14px;}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .content {
border-left: 20vw solid black;
    border-right: 20vw solid black;
} 

body{
      font-size: 20px;
}


.logo{
    width: 24%;
}


#iconright { height:30px;
         width:30px; 
         margin:0px 13px 0px 0px;}
#iconleft { height:30px;
         width:30px; 
         margin:0px 0px 0px 13px;}
         

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
border-left: 15vw solid black;
    border-right: 15vw solid black;
}

body{
      font-size: 18px;
}


.logo{
    width: 28%;
}


#iconright { height:27px;
         width:27px; 
         margin:0px 12px 0px 0px;}
#iconleft { height:27px;
         width:27px; 
         margin:0px 0px 0px 12px;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .content {
border-left: 5vw solid black;
    border-right: 5vw solid black;
}

body{
      font-size: 17px;
}


.logo{
    width: 36%;
}



#iconright { height:25px;
         width:25px; 
         margin:0px 10px 0px 1px;}
#iconleft { height:25px;
         width:25px; 
         margin:0px 0px 0px 11px;}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .content {
border-left: 1vw solid black;
    border-right: 1vw solid black;
}

body{
      font-size: 16px;
}


.logo{
    width: 40%;
}



#iconright { height:24px;
         width:24px; 
         margin:0px 10px 0px 0px;}
#iconleft { height:24px;
         width:24px; 
         margin:0px 0px 0px 10px;}

}  
